<div class="sticky-top">
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      MyCinema
    </a>
    <%= link_to "Create a new list", new_list_path, :class => 'btn btn-outline-light my-2 my-sm-0' %>
</nav>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1536440136628-849c177e76a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1325&q=80);">
  <div class="container">
    <h1>My Movie Lists</h1>
  </div>
</div>

<div class="container">
  <% @lists.each do |list| %>
    <div class="list-card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80);">
      <%= link_to list.name, list_path(list), :class => 'list-title' %>
    </div>
  <% end %>
</div>
